body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
}

.btn {
    width: 96px;
    height: 28px;
    border: none;
    border-radius: 5px;
    background: #6750A4;
    color: white;
    margin: 10px;
    transition: 0.5s;
    font-size: 1rem;
    display: inline-block;
}

.btn.outlined {
    border: solid;
    background: white;
    border-radius: 5px solid #6750A4;
    color: #6750A4;
    font-weight: bold;
}

.btn.elevated {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    background: white;
    color: #6750A4;

}

.btn.flat {
    background: white;
    color: #6750A4;
    font-weight: bold;
}

.btn.flat:hover {
    border: solid;
    border-radius: 2px #6750A4;
    cursor: pointer;
    background: rgba(74, 31, 145, 0.2);
    box-shadow: none;
}

.btn:hover {
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn.lg {
    height: 36px;
    width: 120px;
    font-size: 18px;
}